.header {
    display: flex;
    flex-direction: column; /* Menumpuk elemen di dalam header */
    align-items: center;
}

.judul {
    font-family: Times, serif;
    font-size: 3vw; /* Responsif berdasarkan lebar viewport */
    text-align: center;
    color: #212A31;
    margin: 20px 0; /* Menambahkan margin atas dan bawah */
}

.container {
    gap: 12PX;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; /* Agar item gallery dapat membungkus */
    justify-content: center; /* Centering item gallery */
    padding-bottom: 55px;
}

.gallery {
    margin: 5px; /* Memberikan jarak antar gambar */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 250px; /* Membuat gallery responsif */
    box-sizing: border-box;
    border-radius: 12px;

}

.gallery img:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px 0px rgb(36, 35, 41);
    border-width: 2px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #124E66;
    transition: all 1.1ms;
}

/* Media queries untuk tampilan lebih besar */
@media (min-width: 768px) {
    .judul {
        font-size: 2.5em; /* Mengatur ukuran font pada layar lebih besar */
    }

    .gallery {
        flex: 1 1 200px;                                                                   Mengatur ukuran dasar gallery
    }
}

@media (min-width: 900px) {
    .judul {
        font-size: 2em; /* Ukuran font lebih besar untuk layar sangat besar */
    }
}
