* {
    scroll-behavior: smooth;
}

.experience {
    width: 100%;
    padding: 50px 0;
    background-color: #191919;
}

.example {
    border: 5px solid gray;
    margin-bottom: 2rem;
}

.headline {
    max-width: 550px;
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

.experience-main {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.experience img {
    width: 250px;
    height: 250px;
    display: flex;
    margin-right: 70px;
    align-items: flex-start;
}

.experience-text {
    max-width: 550px;
    color: white;
}

.experience-text h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.experience-text h5 {
    font-size: 24px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

span {
    color: #00BFFF;
}

.experience-text p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
    text-align: justify;
}

/* Responsive Experience section */
@media (max-width: 768px) {
    .experience-main {
        flex-direction: column;
    }

    .experience img {
        width: 200px;
        height: 200px;
    }

    .experience-text h1 {
        font-size: 40px;
    }

    .experience-text p {
        font-size: 16px;
    }
}
