* {
    scroll-behavior: smooth;
}

.experience {
    width: 100%;
    padding: 50px 0;
    background-color: #124E66;
    background: rgba(0, 0, 0, 0.111);
    backdrop-filter: saturate(100%) blur(200px);
    border-radius: 50px 50px 50px;
}

.example {
    margin-bottom: 2rem;
    box-shadow: 7px 7px 10px #D3D9D4;
    border-radius: 10px 75px 25px;
    transition: all 500ms;
}

.example:hover {
    transform: scale(1.10);
    box-shadow: 0px 0px 20px 0px #D3D9D4;
}

.headline {
    max-width: 550px;
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

.experience-main {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.experience img {
    width: 250px;
    height: 250px;
    display: flex;
    margin-right: 100px;
    align-items: flex-start;
}

.experience-text {
    max-width: 550px;
    color: #D3D9D4;
}

.experience-text h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.experience-text h5 {
    font-size: 24px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

span {
    color: #AFDDE5;
}

.experience-text p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
    text-align: justify;
    color: #AFDDE5;
}

/* Responsive Experience section */
@media (max-width: 768px) {
    .experience-main {
        flex-direction: column;
    }

    .experience img {
        width: 200px;
        height: 200px;
        margin-right: auto;
        margin-left: auto;
    }

    .experience-text h1 {
        font-size: 40px;
    }

    .experience-text p {
        font-size: 16px;
    }
}
